@import url("https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css");
* {
  padding: 0;
  margin: 0;
}

//// LIGHT COLORS ///////
$dark: #081b30;
$primary: #0e6ffc;
$trans: 0.2s ease 0.3s;

// DARK COLORS///
$text: rgb(219, 212, 212);
$headings: Georgia, "Times New Roman", Times, serif;
html {
  scroll-behavior: smooth;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: $trans;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: sticky;
  top: 0;
  background: #fff;
  transition: $trans;
  z-index: 2;
  .title {
    color: $dark;
    font-family: $headings;
  }
  .logo {
    margin: 0 auto;
    color: $primary;
  }
  .links {
    display: block;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    a {
      list-style-type: none;
      text-decoration: none;
      padding: 8px 16px;
      color: slategrey;
      border-radius: 25px;
      transition: $trans;
      font-size: 15px;
      &:hover {
        background: aliceblue;
        color: $primary;
      }
    }
  }
  .buttons {
    margin: 0 auto;
    a {
      list-style-type: none;
      text-decoration: none;
      font-size: 14px;
      margin-right: 10px;
    }
    .login {
      padding: 8px 16px;
      border-radius: 5px;
      background-color: $primary;
      color: #fff;
      &:hover {
        opacity: 0.8;
      }
    }
    .signup {
      color: $primary;
      border-radius: 5px;
      padding: 8px 16px;
      &:hover {
        background-color: aliceblue;
        text-decoration: underline;
      }
    }
  }
  #toggle {
    font-size: 20px;
    margin: 0 auto;
  }
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 80px;
  flex-wrap: wrap;
  .right {
    padding: 40px;
    flex: 1;
    order: 2;
    .hero-title {
      font-size: 50px;
      margin-bottom: 40px;
      color: $primary;
      font-family: $headings;
    }
    .hero-subtitle {
      font-size: 18px;
      font-weight: 400;
      line-height: 1.5;
    }
    .btn{
      padding: 40px 0;
    .learn{
      padding: 15px 30px;
      border-radius: 5px;
      background-color: $primary;
      color: #fff;
      text-decoration: none;
    }
  }
  }
  .left {
    flex: 1;
    padding: 40px;
    order: 1;
    img {
      height: 400px;
      width: 400px;
      border-radius: 10px;
    }
  }
}
.darkmode {
  color: $text;
  background-color: $dark;
  .nav {
    background-color: $dark;
    color: $text;
    .title {
      color: $text;
    }
  }
}
#how {
  padding: 10px 80px;
  position: relative;
  h2 {
    font-family: $headings;
    text-align: center;
    font-size: 40px;
  }
  .container {
    position: relative;
width: 95%;
    .card {
      width: 400px;
      legend{
        padding: 10px 15px;
        background-color: $primary;
        border-radius: 100%;
        color: #fff;
        font-family: $headings;
      }
      img{
        height: 500px;
        width: 500px;
        order: 2;
      }
      .txt{
        padding: 40px;
        order: 1;
        border: 5px solid $primary;
        border-radius: 8px;
        h3{
          font-family: $headings;
          color: $primary;
          font-size: 36px;
          margin-bottom: 20px;
        }
        p{
          line-height: 1.5;
          font-size: 18px;
        }
      }
    }
    .card:nth-child(1){
      position: relative;
      top: 5px;
      left: 0;
    }
    .card:nth-child(2){
      position: absolute;
      right: 0;
      top: 300px;
    }
    .card:nth-child(3){
      position: relative;
      left: 0;
      top: 50px;
    }
  }
}
