@import url("https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css");
* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-transition: 0.2s ease 0.3s;
  transition: 0.2s ease 0.3s;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #fff;
  -webkit-transition: 0.2s ease 0.3s;
  transition: 0.2s ease 0.3s;
  z-index: 2;
}

.nav .title {
  color: #081b30;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.nav .logo {
  margin: 0 auto;
  color: #0e6ffc;
}

.nav .links {
  display: block;
  margin: 0;
  padding: 0;
  margin: 0 auto;
}

.nav .links a {
  list-style-type: none;
  text-decoration: none;
  padding: 8px 16px;
  color: slategrey;
  border-radius: 25px;
  -webkit-transition: 0.2s ease 0.3s;
  transition: 0.2s ease 0.3s;
  font-size: 15px;
}

.nav .links a:hover {
  background: aliceblue;
  color: #0e6ffc;
}

.nav .buttons {
  margin: 0 auto;
}

.nav .buttons a {
  list-style-type: none;
  text-decoration: none;
  font-size: 14px;
  margin-right: 10px;
}

.nav .buttons .login {
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #0e6ffc;
  color: #fff;
}

.nav .buttons .login:hover {
  opacity: 0.8;
}

.nav .buttons .signup {
  color: #0e6ffc;
  border-radius: 5px;
  padding: 8px 16px;
}

.nav .buttons .signup:hover {
  background-color: aliceblue;
  text-decoration: underline;
}

.nav #toggle {
  font-size: 20px;
  margin: 0 auto;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 80px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero .right {
  padding: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.hero .right .hero-title {
  font-size: 50px;
  margin-bottom: 40px;
  color: #0e6ffc;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.hero .right .hero-subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.hero .right .btn {
  padding: 40px 0;
}

.hero .right .btn .learn {
  padding: 15px 30px;
  border-radius: 5px;
  background-color: #0e6ffc;
  color: #fff;
  text-decoration: none;
}

.hero .left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 40px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.hero .left img {
  height: 400px;
  width: 400px;
  border-radius: 10px;
}

.darkmode {
  color: #dbd4d4;
  background-color: #081b30;
}

.darkmode .nav {
  background-color: #081b30;
  color: #dbd4d4;
}

.darkmode .nav .title {
  color: #dbd4d4;
}

#how {
  padding: 10px 80px;
  position: relative;
}

#how h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: 40px;
}

#how .container {
  position: relative;
  width: 95%;
}

#how .container .card {
  width: 400px;
}

#how .container .card legend {
  padding: 10px 15px;
  background-color: #0e6ffc;
  border-radius: 100%;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#how .container .card img {
  height: 500px;
  width: 500px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

#how .container .card .txt {
  padding: 40px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  border: 5px solid #0e6ffc;
  border-radius: 8px;
}

#how .container .card .txt h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #0e6ffc;
  font-size: 36px;
  margin-bottom: 20px;
}

#how .container .card .txt p {
  line-height: 1.5;
  font-size: 18px;
}

#how .container .card:nth-child(1) {
  position: relative;
  top: 5px;
  left: 0;
}

#how .container .card:nth-child(2) {
  position: absolute;
  right: 0;
  top: 300px;
}

#how .container .card:nth-child(3) {
  position: relative;
  left: 0;
  top: 50px;
}
/*# sourceMappingURL=style.css.map */