.app .topnav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 32px;
  background-color: rgba(8, 31, 61, 0.2078431373);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  position: fixed;
  top: 0;
  left: 0;
}
.app .topnav .links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.app .topnav .links .logo {
  margin-right: 62px;
  cursor: pointer;
  transition: 200ms ease;
}
.app .topnav .links .logo:hover {
  transform: scale(1.05);
}
.app .topnav .links a {
  text-decoration: none;
  color: var(--text-color);
  margin-right: 16px;
  transition: 200ms ease;
}
.app .topnav .links a:hover {
  color: var(--primary-color);
  transform: scale(1.05);
}
.app .topnav .buttons button {
  padding: 12px 24px;
  margin-right: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Sora, var(--font);
  transition: 200ms ease;
}
.app .topnav .buttons button:hover {
  transform: scale(1.05);
}
.app .topnav .buttons .login {
  background-color: transparent;
  color: #fff;
}
.app .topnav .buttons .sign {
  background-color: var(--primary-color);
  color: #fff;
}
.app .hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app .hero .texts {
  padding: 80px;
}
.app .hero .texts h1 {
  font-size: 48px;
  font-family: Sora, var(--font);
  color: #fff;
  line-height: normal;
  margin-bottom: 16px;
}
.app .hero .texts h1 span {
  color: var(--primary-color);
}
.app .hero .texts p {
  max-width: 450px;
  margin-bottom: 32px;
}
.app .hero .texts .buttons button {
  padding: 15px 30px;
  margin-right: 16px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  font-family: Sora, var(--font);
  transition: 200ms ease;
  color: #fff;
}
.app .hero .texts .buttons button:hover {
  transform: scale(1.05);
  background-color: #fff;
  color: var(--primary-color);
}
.app .hero .texts .buttons .get {
  background-color: var(--primary-color);
}
.app .hero .texts .buttons .lrn {
  background-color: transparent;
  border: 2px solid var(--text-color);
}
.app .hero .texts .chips {
  display: flex;
  align-items: center;
  justify-content: center;
}
.app .hero .texts .chips .chip {
  height: 40px;
  width: 40px;
  background-color: #fff;
  margin-right: -15px;
  border-radius: 100%;
  overflow: hidden;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border: 3px solid #fff;
}
.app .hero .texts .chips .chip img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
}
.app .hero .texts .chips .chip:nth-child(1) {
  background-image: url(/public/houcine-ncib-B4TjXnI0Y2c-unsplash.jpg);
}
.app .hero .texts .chips .chip:nth-child(2) {
  background-image: url(/public/michael-dam-mEZ3PoFGs_k-unsplash.jpg);
}
.app .hero .texts .chips .chip:nth-child(3) {
  background-image: url(/public/joseph-gonzalez-iFgRcqHznqg-unsplash.jpg);
}
.app .hero .texts .chips .chip:nth-child(4) {
  background-image: url(/public/prince-akachi-J1OScm_uHUQ-unsplash.jpg);
}
.app .hero .texts .chips p {
  margin: 0 auto;
  margin-left: 32px;
}
.app .hero .img-container {
  display: block;
  height: 100vh;
  width: 500px;
  background-image: url(/public/aiony-haust-3TLl_97HNJo-unsplash.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

@media only screen and (min-device-width: 0) and (max-device-width: 767px) {
  body {
    font-size: 18px;
    line-height: 1.5;
  }
  .app .topnav {
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    display: none;
  }
  .app .topnav .links {
    flex-direction: column;
    gap: 32px;
  }
  .app .topnav .links .logo {
    margin: 0 auto;
  }
  .app .topnav .links a {
    font-size: 24px;
  }
  .app .hero {
    width: 100%;
    padding: 20px;
    height: 100vh;
  }
  .app .hero .texts {
    padding: 0;
    width: 100%;
  }
  .app .hero .img-container {
    display: none;
  }
}/*# sourceMappingURL=app.css.map */